<div>
    Departure Airport: <%= flight.departure_airport.airport_code %>
</div>
<div>
    Arrival Airport: <%= flight.arrival_airport.airport_code %>
</div>
<div>
    Departure Time: <%= flight.start_datetime %>
</div>
<div>
    Duration: <%= flight.duration %>
</div>